*/

############

!EliteMod/
!EliteMod/Classes/

!EliteMapUtils/
!EliteMapUtils/Classes/

System/*

!System/EliteMod.u
!System/EliteMod.ucl
!System/EliteMapUtils.u
!System/EliteMapUtils.ucl

Maps/*

!Maps/ELT-*


############
Thumbs.db
Desktop.ini
.DS_Store
.Spotlight-V100
.Trashes
